@media screen and (max-width:1350px){

    .main_container .content_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main_container .content_box .about_me_top_section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .main_container .about_me_pic_section{
        justify-content: center;
        align-items: center;
    }

    .main_container .about_me_pic_section .about_me_pic img{
        width: 150px;
        height: 150px;
    }
    .main_container .about_me_pic_section .about_me_pic .about_me_pic_close{
        top: 5px;
        right: 10px;
    }

    .main_container .content_box .about_me_top_section .col-md-9{
        width: 100%;
        margin: 10px 0px;
    } 
}

@media screen and (max-width:1100px){
    .about_education_section .experience_education_list .experience_education_item{
        flex-direction: column;
    }

    .about_education_section .experience_education_list .experience_education_item input{
        width: 100%;
    }

    .about_education_section .experience_education_list .experience_education_item select{
        width: 100%;
    }
}

@media screen and (max-width:1040px){
    .main_container .content_box .col-md-9{
        width: 100%;
        margin: 10px 0px;
    } 

    .content_box .section_footer{
        display: flex;
       position: static;
       justify-content: flex-end;
    } 
}

@media screen and (max-width:830px){
    .about_education_section .about_education_list .about_education_item{
        flex-direction: column;
    }

    .about_education_section .about_education_list .about_education_item input{
        width:100%;
    }
}

@media screen and (max-width:600px) {
    .main_container{
        margin: 30px 12px;
    }
}