@media screen and (max-width:1350px){

    .main_container .content_box{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .main_container .about_me_pic_section{
        justify-content: center;
        align-items: center;
    }

    .main_container .about_me_pic_section .about_me_pic img{
        width: 150px;
        height: 150px;
    }
    .main_container .about_me_pic_section .about_me_pic .about_me_pic_close{
        top: 5px;
        right: 10px;
    }

    .main_container .content_box .col-md-9{
        width: 100%;
        margin: 10px 0px;
    } 
}

@media screen and (max-width:600px) {
    .main_container{
        margin: 30px 12px;
    }
}