@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background-color:#ffffff;
    --main-text-color:#000;
    --top-text-color:rgb(85, 85, 85);
    --main-text-hover-color:grey;
    --text-decoration-color:rgb(181, 181, 181);
    --border-color:rgb(163, 163, 163);
    --background-color2:rgb(250, 250, 250);
}

.darkmode{
     --background-color:#120f0f;
    --main-text-color:#fff;
    --top-text-color:#c8c8c8;
    --main-text-hover-color:grey;
    --text-decoration-color:rgb(181, 181, 181);
    --border-color:rgb(163, 163, 163);
    --background-color2:#120f0f;
}



*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", serif;
    background-color:var(--background-color);
}

html{
    scroll-behavior: smooth;
}

h1{
    color:var(--main-text-color);
}

h3{
    color:var(--main-text-color);
}

p{
    color: var(--top-text-color);
}

a, .btn{
    transition: all 300ms ease;
}

/* Top Progress Bar */
.progress-bar{
    position: fixed;
    width: 100%;
    height: 1vh;
    z-index: 9999;
}

.filled{
    width: 0;
    height: 100%;
    background: linear-gradient(to bottom left, #33acff, #33ff86);
}

/* Desktop Nav */
nav,
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style:none;
    font-size: 1.1rem;
}

#theme-switch,#theme-switch-mobile{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 33px;
    right: 40px;
    border: none;
    cursor: pointer;
    z-index: 99;
}

#theme-switch i,#theme-switch-mobile i{
    color:var(--background-color);
}

#theme-switch i:last-child,
#theme-switch-mobile i:last-child{
    display:none;
}

.darkmode #theme-switch i:first-child{
    display:none;
}

.darkmode #theme-switch i:last-child,
.darkmode #theme-switch-mobile i:last-child
{
    display:block;
}


a{
    color: var(--main-text-color);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: var(--main-text-hover-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--text-decoration-color);
}

.logo{
    font-size: 2rem;
    color:var(--main-text-color);
}

.logo:hover{
    cursor: pointer;
}

/* Hamburger Nav */
#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;    
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--main-text-color);
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color:white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 12px;
    text-align: center;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    z-index:999;
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

/* Sections */
section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* Profile Section */
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text{
    align-self: center;
    text-align: center;
    width: 40%;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1{
    text-align: center;
}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icon{
    cursor: pointer;
    height: 2rem;
    color: var(--main-text-color);
}

.darkmode .icon{
    cursor: pointer;
    height: 2rem;
    filter:invert(1) brightness(1);
}

/* Buttons */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.blog-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-footer p{
    color: var(--main-text-color);
    font-weight: 400;
}

.blog-footer i{
    margin-right: 5px;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color:var(--main-text-color);
}

.btn-color-1,
.btn-color-2{
    border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover{
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover{
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover{
    background: rgb(0,0,0);
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

/* About Section */
#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.experience-containers{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.blog-containers{
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container{
    padding: 1.5rem;
    /* flex: 1; */
    background: var(--background-color);
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: var(--border-color);
    text-align: center;
}

.flex-grow{
    flex: 1;
}

.blog_item{
    width: 33%;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic-container img{
    border-radius: 50%;
}

/* Experience Section */
#experience{
    position: relative;
}

.experience-sub-title{
    color: var(--top-text-color);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    position:relative;
    padding: 17px;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* Projects Section */
#projects{
    position: relative;
}

.color-container{
    border-color: var(--border-color);
    background: var(--background-color2);
}

.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    object-fit:contain;
}

.project-title{
    margin: 1rem;
    color: var(--main-text-color);
}

.project-btn{
    color: var(--main-text-color);
    border-color:var(--border-color);
}

/* Blog Section */
#blogs{
    position: relative;
}

#blog-list-section{
    height: 100vh;
}

.blogs-sub-title{
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.blog-description{
    margin-bottom: 2rem;;
}

.blog-view-more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs-details-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow:hidden;
    position:relative;
    padding: 17px;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.pagination .page-item.active .page-link {
    background-color: var(--main-text-color);
    border-color: var(--main-text-color);
    color: var(--background-color);
}

.pagination .page-item .page-link {
    padding: 5px 12px;
    border: 2px solid var(--main-text-color);
    border-radius: 10px;
    margin: 0px 5px;
}

.pagination .page-item .page-link:hover{
    text-decoration: none;
}

.pagination .page-item.disabled .page-link {
    color: #ccc;
    border: 2px solid var(--border-color);
}

/* .pagination .page-item{
    padding: 5px;
    border: 2px solid grey;
    border-radius: 10px;
} */


/* Contact Section */
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: var(--border-color);
    background: var(--background-color2);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
}

.email-icon{
    height: 2.5rem;
}

/* Footer Section */
footer{
    height: 26vh;
    margin: 2em 1rem;
}

footer p{
    text-align: center;
}

.swiper-slide{
    margin: 0px;
}

.swiper-pagination-bullets{
    bottom:-5px !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #000000;
    background: white;
    padding: 10px;
    border: 1px solid grey;
    box-shadow: rgb(17 17 26 / 21%) 0px 4px 16px, rgb(17 17 26 / 0%) 0px 8px 24px, rgb(17 17 26 / 0%) 0px 16px 56px;
    top: 45%;
    border-radius: 10px;
    height:35px;
}

.swiper-pagination-bullet{
    filter:invert(1) brightness(0.5);
}

/* Blog List  */
#blog-breadcrumb-section{
    margin: 0px;
    padding-top: 0px;
    height: 320px;
}

#blog-breadcrumb-section .breadcrumb{
    display: flex;
    align-items: center;
    position: relative;
    height: 520px;
    background-size: cover;
    color: #000;
}

#blog-breadcrumb-section .breadcrumb .breadcrumb-inner{
    position: absolute;
    left: 10%;
    line-height: 2;
}

#blog-breadcrumb-section .breadcrumb .breadcrumb-inner h1{
    font-size: 2.5rem;
}

#blog-breadcrumb-section .breadcrumb .breadcrumb-inner .breadcrumb-inner-wrapper i{
    margin-right: 5px;
}

#blog-breadcrumb-section .breadcrumb .breadcrumb-inner .breadcrumb-inner-wrapper a:hover{
    text-decoration: none;
}

.pagination{
    display: flex;
    
}

@media (max-width: 1150px){
    .blogs-details-container{
        flex-wrap:wrap;
    }
}

@media (max-width: 935px){
    .blog-footer{
        flex-wrap:wrap-reverse;
        justify-content:center;
    }
}

@media (max-width: 750px){
    .blogs-details-container{
        flex-direction:column;
    }
    
    .blog-footer{
        justify-content:space-between;
    }
    
    .color-container{
        width:auto;
    }
    
}

/* Blog Single */
.blog-single-container{
    color: var(--main-text-color);
    line-height: 2.2;
    margin:25px 0px;
}

.blog-single-container a:hover{
    text-decoration: none;
    color: var(--main-text-hover-color);    
}

.blog-single-container ul{
    list-style: none;
    margin: 20px 0px;
    padding-left: 2.5em;
}

.blog-single-container img{
    width:100%;
    object-fit:contain;
}

.blog-single-container h3::before{
    content: '💡';
}

.blog-single-container h3{
    font-size: 25px;
}

.blog-single-container h4{
    font-size: 20px;
    padding-left: 2em;
}

.blog-single-container p{
   color: var(--main-text-color); 
   padding-left: 2.5em;
}

.blog-single-container ul li::before{
    content: '👉' ;
    margin-right: 8px;
    color: var(--main-text-color);
}

.blog-single-container .subtitle::before{
    content: '#️⃣';
}